<ion-header>
  <ion-toolbar>
    <ion-title>
      Cuphead Wiki - Bosses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
   

    <ion-card>
        <ion-card-subtitle>The Root Pack</ion-card-subtitle> 
        <img src="/assets/therootpack.jpg">
        <ion-card-content>          
            The first boss level where The Root Pack are fought. One of the two bosses initially available. 
            Unlocks Ribby and Croaks upon defeat. 
            Their level is titled Botanic Panic. This boss has three phases (two on Simple Mode). 
          </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>Goopy Le Grande</ion-card-subtitle> 
        <img src="/assets/goopy.jpg">
        <ion-card-content>          
            The second boss level which is where Goopy Le Grande is fought. One of the two bosses initially available. 
            Unlocks Hilda Berg upon defeat. His level is titled Ruse of an Ooze. This boss has three phases (two on Simple Mode). 
          </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>Ribby & Croaks</ion-card-subtitle> 
        <img src="/assets/ribbycroaks.jpg">
        <ion-card-content>         
            In the third boss level, Ribby and Croaks are fought. Unlocked after beating The Root Pack. Their level is titled Clip Joint Calamity. 
            This boss has three phases (two on Simple Mode). 
          </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>Hilda Berg</ion-card-subtitle> 
        <img src="/assets/hildaberg.jpg">
        <ion-card-content>         
            The fourth boss is Hilda Berg, who is unlocked after defeating Goopy Le Grande. Unlocks Cagney Carnation upon defeat. 
            Her level is titled Threatenin' Zeppelin. This boss has three phases (two on Simple Mode).
          </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>Cagney Carnation</ion-card-subtitle> 
        <img src="/assets/cagneycarnation.jpg">
        <ion-card-content>         
            Cagney Carnation is the fifth and final boss of Inkwell Isle One. He is unlocked after defeating Hilda Berg. 
            Unlocks the Die House upon defeat. His level is titled Floral Fury. This boss has two phases (one on Simple Mode).    
          </ion-card-content>
    </ion-card>

    <a href="https://cuphead.fandom.com/wiki/List_of_bosses">For the full list of Bosses</a>


</ion-content>

