<ion-header>
  <ion-toolbar>
    <ion-title>
      Cuphead Wiki - Characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-card>
        <ion-card-subtitle>Cuphead & Mugman</ion-card-subtitle> 
        <img src="/assets/cupheadmugman.jpg">
        <ion-card-content>         
            On the fictional Inkwell Isles, Cuphead and his brother Mugman are two fun-loving kids who live under the watchful eye of Elder Kettle. 
            Against the elder's warnings, the brothers enter the Devil's Casino and begin playing craps.    
          </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-subtitle>Ms. Chalice</ion-card-subtitle> 
        <img src="/assets/mschalice.jpg">
        <ion-card-content>         
            Ms. Chalice is the third playable character in Cuphead    
          </ion-card-content>
    </ion-card>
   
</ion-content>
