<ion-header>
  <ion-toolbar>
    <ion-title>
      Cuphead Wiki - Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Shots</h1>

    <ion-list>
        <ion-item>Chaser</ion-item>
        <ion-item>Chaser has long range but lower damage when compared with other weapons. However, 
        the best part is that you do not need to aim when shooting with Chaser equipped. 
        It features homing shots and will automatically seek and damage enemies.</ion-item>
        <br>
        <ion-item>Spread</ion-item>
        <ion-item>Spread is like a shotgun. It is a close range weapon and will deal a great of damage if you fire it near the enemy.</ion-item>
        <br>
        <ion-item>Roundabout</ion-item>
        <ion-item>Roundabout features great coverage with decent damage. To increase the range, aim backward and fire.</ion-item>
        <br>
        <ion-item>Lobber</ion-item>
        <ion-item>Lobber is a slow firing weapon. It lacks for the slow rate of fire with heavy damage and medium damage.</ion-item>
        <br>
        <ion-item>Peashooter</ion-item>
        <ion-item>Peashooter is your weapons from the start. It is a decent enough weapon, good for many situations and features long range with average damage. 
        It will be good until you can buy another Shot to alternate with it.</ion-item>
        <br>
        <ion-item>Charge</ion-item>
        <ion-item>The Charge is a slow firing weapon mainly because you need to charge it up before firing. 
        It has no quick fire mode so you cannot fire it rapidly. Make sure each of the shot counts.</ion-item>
    </ion-list>

    <h1>Supers</h1>

    <ion-list>
        <ion-item>Energy Beam</ion-item>
        <ion-item>Energy Beam is unlocked when you complete Mausoleum challenge 1. It is a heavy damage attack and good against Bosses.</ion-item>
        <br>
        <ion-item>Invincibility</ion-item>
        <ion-item>It is unlocked when you complete Mausoleum challenge 2. It makes you invincible for a short time.</ion-item>
        <br>
        <ion-item>Giant Ghost</ion-item>
        <ion-item>It is unlocked when you complete Mausoleum challenge 3. It grants you great attacking power.</ion-item>
    </ion-list>

    <h1>Charms</h1>

    <ion-list>
        <ion-item>Heart</ion-item>
        <ion-item>The Heart will grant you another hit point so you can take another hit before dying. On the downside, 
          it will reduce your attack power.</ion-item>
        <br>
        <ion-item>Smoke Bomb</ion-item>
        <ion-item>Smoke Bomb makes you invincible during your dash making it a great defensive ability. Recommended during boss fights.</ion-item>
        <br>
        <ion-item>Coffee</ion-item>
        <ion-item>Coffee makes your Super meter fill continuously. 
          You also fill it normally when you hit enemies but coffee will even fill it when you are not attacking.</ion-item>
        <br>
        <ion-item>Whetstone</ion-item>
        <ion-item>Whetstone is basically your first parry move. With Whetstone, 
          you not only get a parry move but also an axe attack which features heavy damage.</ion-item>
        <br>
        <ion-item>Sugar</ion-item>
        <ion-item>Sugar is your initial parry move, unlocked right from the start. 
          Simply jump towards the enemy you want to parry and you will parry them.</ion-item>
        <br>
        <ion-item>Twin Hearts</ion-item>
        <ion-item>Twin hearts is a great alternative to Heart. 
          It allows two extra hits before you die and the amount of attack reduction is also more than that Hearts. 
          Switch to Twin Hearts as soon as possible.</ion-item>
    </ion-list>

</ion-content>


